<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include "shared_header.jinja" %}
      <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
      <script src="{{ url_for("static", filename="main.js") }}"></script>
    <title>Support Wall Board</title>
  </head>
  <body>
    <div class="container">
        {% for row in people|batch(4) %}
            <div class="row justify-content-center top-buffer">
            {% for person in row %}
                <div class="col-3">
                    <div class="card rounded" id="{{ person.fullName }}-card" onclick="refresh_single_card('{{ person.personId }}')">
                        <div class="card-body">
                            <h5 class="card-title"> {{ person.fullName }} <img class="card-img-top" src="{{ url_for("static", filename="images/"~ person.id  ~".jpeg") }}"> </h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b># Calls</b>: <span id="{{ person.personId }}-calls">{{  person.calls }}</span> </li>
                                <li class="list-group-item"><b># Emails</b>: <span id="{{ person.personId }}-emails">{{  person.emails }}</span></li>
                                <li class="list-group-item"><b># Chats</b>: <span id="{{ person.personId }}-chats">{{  person.chats }}</span></li>
                                <li class="list-group-item"><b>Chat AFR</b>: <span id="{{ person.personId }}-chatAFR">{{  person.chatAFR }}</span></li>
                                <li class="list-group-item"><b>Email AFR</b>: <span id="{{ person.personId }}-emailAFR">{{  person.emailAFR }}</span></li>
                              </ul>
                            <p class="card-subtitle text-center"><b>Phone</b>: <span id="{{ person.personId }}-phoneQueue">{{ person.phoneQueue }} </span> <b>Chat</b>: <span id="{{ person.personId }}-chatQueue">{{ person.chatQueue }}</span></p>

                        </div>
                    </div>
            </div>
            {% endfor %}


    </div>
    {% endfor %}

  </body>
</html>